<!doctype html>
<html>
<head>
    <title>Add a Student</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
	<style>
	body{
		background-color: black;
	}
	.form{
		border:1px solid white;
		margin-right:40%;
		margin-left:40%;
		margin-top:10%;
		text-align: center;
		font-family:Comic Sans MS;
		color:white;

	}
	#header{
        text-align: center;
        border-bottom: 1px solid white;
        margin-right:29.5%;
        margin-left:29.5%;
        margin-top:2%;
        font-family: Trebuchet MS;
        position:fixed;
        top:0%;
        z-index: 10000;
        color:white;
    }

	</style>
</head>
<body>
    <h1 id = "header">add a new student to the database</h1>
    <form method="post" class = "form">
    	<span>first name:</span>
    	<br>
        <input type="text" name="student_name" placeholder="Student Name">
        <br>
        <span>year:</span>
        <br>
        <input type="text" name="student_year" placeholder="Student Year">
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
